<header class="header">
  <div class="container header__inner">
    <a href="" class="logo">
      <img
        class="logo__img"
        src="/maksymtarasovdark/img/logo/logo.jpg"
        alt="logo"
      />
    </a>
    <div class="header__text">
      <div class="header__title">Pizzeria "Dom"</div>
      <div class="header__descr">Ресторан</div>
    </div>
  </div>
</header>

<section class="swiper-section swiper-section-index">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/maksymtarasovdark/img/slider/slide-foto-1.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/maksymtarasovdark/img/slider/slide-foto-2.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/maksymtarasovdark/img/slider/slide-foto-3.jpg" alt="" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<main class="index-main">
  <div class="container">
    <section class="new-food">
      <h2 class="new-food__title">Наші новинки!:</h2>

      <div class="swiper-food">
        <div class="swiper mySwiper-food">
          <div class="swiper-wrapper">
          <!-- Slides -->

          {% for tag in tags %}
          {% for product in tag.products %}
          <div class="swiper-slide">
				<div class="food-item food-item__new-popular" data-modal-id="modal{{{ product.id }}}">
					<div class="food-item__left">
						<div class="food-item__title">{{{product.name}}}</div>
						<div class="food-item__price">
							<span>{{{product.price}}}</span> UAH
						</div>
						<div class="food-item__descr">{{{product.descr}}}</div>
					</div>
					<div class="food-item__right">
						<img src="{{{product.thumb}}}" alt="" />
					</div>
				</div>
        
      </div>
      {% endfor %}
      {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    </section>

    <section class="popular-food">
      <h2 class="popular-food__title">Найпопулярніші страви!:</h2>

      <div class="swiper-food">
        <div class="swiper mySwiper-food">
          <div class="swiper-wrapper">
          <!-- Slides -->

          {% for tag in tags %}
          {% for product in tag.products %}
          <div class="swiper-slide">
				<div class="food-item food-item__new-popular" data-modal-id="modal{{{ product.id }}}">
					<div class="food-item__left">
						<div class="food-item__title">{{{product.name}}}</div>
						<div class="food-item__price">
							<span>{{{product.price}}}</span> UAH
						</div>
						<div class="food-item__descr">{{{product.descr}}}</div>
					</div>
					<div class="food-item__right">
						<img src="{{{product.thumb}}}" alt="" />
					</div>
				</div>
        
      </div>
      {% endfor %}
      {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    </section>
  </div>

    <section class="dignity">
      <div class="container dignity__container">

       <div class="dignity-item">
         <div class="dignity-item__title">Багато різновидів піц</div>
        <div class="dignity-item__img">
          <img src="/maksymtarasovdark/img/dignity/pizza.jpg" alt="">
        </div>
        <div class="dignity-item__descr">
          Піклуйся про свій смак разом з нашим різноманітним вибором піц, що точно вразять ваші смакові рецептори.
        </div>
       </div>

       <div class="dignity-item">
         <div class="dignity-item__title">Свіжі якісні продукти</div>
        <div class="dignity-item__img">
          <img src="/maksymtarasovdark/img/dignity/food.jpg" alt="">
        </div>
        <div class="dignity-item__descr">Забезпеч своє тіло тільки найкращими продуктами, що пропонує наша кухня. Смакуй якість кожного ковтка!
          </div>
       </div>

       <div class="dignity-item">
         <div class="dignity-item__title">Коктейлі які ти точно не куштував</div>
        <div class="dignity-item__img">
          <img src="/maksymtarasovdark/img/dignity/drinks.jpg" alt="">
        </div>
        <div class="dignity-item__descr">Відкрий для себе нові смакові відчуття з нашими унікальними коктейлями, які точно здивують тебе своєю оригінальністю.
          Підкресли свою індивідуальність разом з нашими незвичайними коктейлями, які вражають не лише смак, але й уяву.
          </div>
       </div>

      </div>
    </section>

</main>

<footer class="footer">
	<div class="container footer__inner">
		<div class="footer__top">
			<div class="informaton__data informaton__data-footer">
				<div class="footer__title">Інформація про заклад</div>
				<div class="information-item">
					<div class="information-item__icon">
						<img src="/maksymtarasovdark/img/icons/wifi.svg" alt="wifi" />
					</div>
					<div class="information-item__text">
						<div class="information-item__title">WiFi</div>
						<div class="information-item__descr">
							{{{variables.WIFIpassword}}}
						</div>
					</div>
				</div>
				<div class="information-item">
					<div class="information-item__icon">
						<img src="/maksymtarasovdark/img/icons/watch.svg" alt="wifi" />
					</div>
					<div class="information-item__text">
						<div class="information-item__title">Робочий час:</div>
						<div class="information-item__descr">
							{{{variables.workingHours}}}
						</div>
					</div>
				</div>
			</div>

			<div class="footer-info">
				<div class="footer-info__contacts">
					<div class="footer__title">Контактні дані</div>
					<ul>
						<li>{{{variables.address}}}</li>
						<li>{{{variables.phone}}}</li>
						<li>
							<a class="link-bold" href="{{{variables.email}}}">
								{{{variables.email}}}</a>
						</li>
					</ul>
				</div>
				<div class="footer-info__time">
					<div class="footer__title"></div>
					<!-- <ul>
					<li>
					<p>Понеділок</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>Вівторок</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>Середа</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>Четвер</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>П’ятниця</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>Субота</p>
					<p>11:00 - 22:00</p>
					</li>
					<li>
					<p>Неділя</p>
					<p>11:00 - 22:00</p>
					</li>
					</ul> -->
				</div>
			</div>

			{% if variables.link_instagram %}
			<div class="footer-social">
				<div class="footer__title">Ми в соцмережах</div>
				<ul>
					{% if variables.link_instagram %}
					<li>
						<a href="{{{variables.link_instagram}}}"><img class="footer-social__icon" src="/maksymtarasovdark/img/icons/instagram.svg" alt="soc" />
							<p>Instagram</p>
						</a>
					</li>
					{% endif %}
					{% if variables.link_tiktok %}
					<li>
						<a href="{{{variables.link_tiktok}}}"><img class="footer-social__icon" src="/maksymtarasovdark/img/icons/tiktok.svg" alt="soc" />
							<p>TikTok</p>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>

			<!-- <div class="footer-map">
				<div class="footer__title"></div>
				<div class="footer-map__place"></div>
				<a href="#">
				<button class="footer-map__btn btn">
				<img src="/maksymtarasovdark/img/icons/location.svg" alt="" /> Отримати
				розташування
				</button>
				</a>
				</div>
			</div> -->
		</div>

		<div class="footer__line"></div>

		<div class="container footer__inner">
			<div class="footer-copyright">
				<div class="footer-copyright__copy">&copy; 2024 {{{store.name}}}</div>
				<div class="footer-copyright__list">
					<a href="#" class="footer-copyright__item">Політика використання файлів cookie</a>
					<!-- <a href="#" class="footer-copyright__item">Умови користування</a> -->
					<!-- <a href="#" class="footer-copyright__item">Політика конфіденційності</a> -->
				</div>
			</div>
		</div>
</footer>

{% for tag in tags %} {% for product in tag.products %}
<div id="modal{{{ product.id }}}" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="food-item__modal">
      <div class="food-item__left">
        <div class="food-item__title">{{{ product.name }}}</div>
        <div class="food-item__price">
          <span>{{{ product.price }}}</span> UAH
        </div>
        <div class="food-item__descr">{{{ product.short }}}</div>
        <div class="food-item__weight">
          <div class="food-item__weight-img">
            <img src="/maksymtarasovdark/img/icons/weight.svg" alt="weight" />
          </div>
          <div class="food-item__weight-number">{{{ product.weight }}}</div>
        </div>
        <div class="food-item__controls">
          <div class="food-item__controls-img">
            <img src="/maksymtarasovdark/img/icons/heart.svg" alt="heart" />
          </div>
          <div class="food-item__controls-number">999</div>
        </div>
      </div>
      <div class="food-item__right">
        <img src="{{{ product.thumb }}}" alt="" />
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endfor %}
