<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{{title}}}</title>
    <meta itemprop="name" content="{{{title}}}" />
    <meta name="twitter:title" content="{{{title}}}" />
    <meta property="og:title" content="{{{title}}}" />

    <meta name="description" content="{{{description}}}" />
    <meta itemprop="description" content="{{{description}}}" />
    <meta name="twitter:description" content="{{{description}}}" />
    <meta property="og:description" content="{{{description}}}" />

    <meta itemprop="image" content="{{{image}}}" />
    <meta name="twitter:image:src" content="{{{image}}}" />
    <meta property="og:image" content="{{{image}}}" />

    <meta name="keywords" content="{{{keywords}}}" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="/maksymtarasovdark/img/favicon.ico" />
    <link rel="stylesheet" href="/maksymtarasovdark/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <style>
      :root {
      	--white: {{{variables.white || "#ffffff"}}};
      	--alice-blue: {{{variables.alice-blue || "#f0f8ff"}}};
      	--light-gray: {{{variables.light-gray || "#f8f8f8"}}};
      	--light-gray2: {{{variables.light-gray2 || "#bdbdbd"}}};
      	--gray: {{{variables.gray || "#828282"}}};
      	--dark-gray: {{{variables.dark-gray || "#333333"}}};
      	--dark: {{{variables.dark || "#222222"}}};
      	--dark-main: {{{variables.dark-main || "#161616"}}};
      	--dark-headerFooter: {{{variables.dark-headerFooter || "#1C1C1C"}}};
      	--darker: {{{variables.darker || "#111111"}}};
      	--dark-green: {{{variables.dark-green || "#0c4314"}}};
      	--green: {{{variables.green || "#099409"}}};
      	--brown: {{{variables.brown || "#3d2105"}}};
      	--dark-green2: {{{variables.dark-green2 || "#115e1d"}}};
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="container header__inner">
        <a href="" class="logo">
          <img
            class="logo__img"
            src="{{{store.thumb}}}"
            alt="logo"
          />
        </a>
        <div class="header__text">
          <div class="header__title">{{{store.name}}}</div>
          <div class="header__descr">
			<!-- Ресторан -->
		</div>
        </div>
      </div>
    </header>

    <!-- HTML -->

    <footer class="footer">
      <div class="container footer__inner">
        <div class="footer__top">
          <div class="informaton__data informaton__data-footer">
            <div class="footer__title">{{{translate('maksymtarasovdark.About us')}}}</div>
            {% if variables.WIFIpassword %}
            <div class="information-item">
              <div class="information-item__icon">
                <img src="/maksymtarasovdark/img/icons/wifi.svg" alt="wifi" />
              </div>
              <div class="information-item__text">
                <div class="information-item__title">WiFi</div>
                <div class="information-item__descr">
                  {{{variables.WIFIpassword}}}
                </div>
              </div>
            </div>
            {% endif %}
            {% if variables.workingHours %}
            <div class="information-item">
              <div class="information-item__icon">
                <img src="/maksymtarasovdark/img/icons/watch.svg" alt="watch" />
              </div>
              <div class="information-item__text">
                <div class="information-item__title">{{{translate('maksymtarasovdark.Working hours')}}}:</div>
                <div class="information-item__descr">
                  {{{variables.workingHours}}}
                </div>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="footer-info">
            <div class="footer-info__contacts">
              <div class="footer__title">{{{translate('maksymtarasovdark.Contacts')}}}:</div>
              <ul>
                {% if variables.address %}
                <li>{{{variables.address}}}</li>
                {% endif %}
                {% if variables.phone %}
                <li>{{{variables.phone}}}</li>
                {% endif %}
                {% if variables.email %}
                <li>
                  <a class="link-bold" href="{{{variables.email}}}">
                    {{{variables.email}}}</a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="footer-info__time">
              <div class="footer__title"></div>
            </div>
          </div>

          {% if variables.link_instagram %}
          <div class="footer-social">
            <div class="footer__title">{{{translate('maksymtarasovdark.We are in social networks')}}}</div>
            <ul>
              {% if variables.link_instagram %}
              <li>
                <a href="{{{variables.link_instagram}}}"><img class="footer-social__icon" src="/maksymtarasovdark/img/icons/instagram.svg" alt="soc" />
                  <p>Instagram</p>
                </a>
              </li>
              {% endif %}
              {% if variables.link_tiktok %}
              <li>
                <a href="{{{variables.link_tiktok}}}"><img class="footer-social__icon" src="/maksymtarasovdark/img/icons/tiktok.svg" alt="soc" />
                  <p>TikTok</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="footer__line"></div>

        <div class="container footer__inner">
          <div class="footer-copyright">
            <div class="footer-copyright__copy">&copy; 2024 {{{store.name}}}</div>
            <div class="footer-copyright__list">
              <!-- <a href="#" class="footer-copyright__item">Політика використання файлів cookie</a> -->
            </div>
          </div>
        </div>
    </footer>
    <script src="/maksymtarasovdark/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/maksymtarasovdark/js/slider.js"></script>
    <script src="/maksymtarasovdark/js/accordeon.js"></script>
    <script src="/maksymtarasovdark/js/modal.js"></script>
    <script src="/maksymtarasovdark/js/menu-top.js"></script>
  </body>
</html>
