
/* font family */
$ff-base: "Roboto",
sans-serif;
$ff-title: "Lato",
sans-serif;
$ff-second: 'Roboto',
sans-serif;

/* font-size */
$fs: 16px;


// ===== COLORS ===== 

$white: #ffffff;
$alice-blue: #f0f8ff;
$light-gray: #f8f8f8;
$light-gray2: #bdbdbd;
$gray: #828282;
$dark-gray: #333333;
$dark: #222222;
$darker: #111111;
$green: #099409;
$dark-green: #0c4314;
$dark-green2: #115e1d;
$brown: #3d2105;

