.articles{
    color: $light-gray;
}

.articles-main {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  
  .articles-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 60px 20px;
    margin: 0 70px 30px;
  }
  
  .articles-item {
    width: 450px;
    min-height: 460px;
    border-radius: 6px;
    background-color: $dark;
  
    &__info {
      padding: 20px;
    }
  
    &__img {
      img {
        width: 450px;
        max-height: 230px;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
      }
    }
  
    &__date {
      display: flex;
      gap: 5px;
      align-items: center;
      color: $gray;
      font-size: 14px;
    }
  
    &__title {
      margin: 20px 0 10px 0;
      font-size: 24px;
    }
  
    &__descr {
      min-height: 75px;
      color: $light-gray2;
      margin-bottom: 20px;
    }
    &__btn {
      color: $green;
      display: inline-flex;
      align-items: center;
      font-size: 16px;
  
      g {
        fill: $green;
      }
  
      &:hover span {
        color: $dark-green2;
      }
  
      &:hover svg {
        g {
          fill: $dark-green2;
        }
      }
    }
  }
  
  @media (max-width: 1100px) {
    .articles-list {
      margin: 0 0 30px;
    }
  
    .articles-item {
      width: 350px;
    }
  }
  
  @media (max-width: 768px) {
    .articles-list {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    .articles-item {
      width: auto;

      &__img {
        img {
          width: auto;
          max-height: fit-content;
          border-radius: 6px 6px 0 0;
        }
      }
    }
  }