//Для моб версії
.menu-bottom {
  display: none;
  margin-bottom: 16px;

  &__descr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #bdbdbd;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;

    span {
      background-color: #111111;
      display: block;
      position: relative;
      z-index: 1;
      padding: 0 16px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      display: block;
      background-color: #333333;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 20px 19px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    background-color: #111111;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #333333;
    word-wrap: anywhere;
    hyphens: auto;
    white-space: normal;

    img {
      width: 44px;
      height: 44px;
    }
  }
}

.scroll-top {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 72px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;

  img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .menu-bottom {
    display: block;
  }
}
